<ion-header >
  <ion-navbar no-border-bottom>
    <ion-title>
      Physical
    </ion-title>

  </ion-navbar>



  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="physical" color="dark" >
      <ion-segment-button value="resources" >

Resources
      </ion-segment-button>
      <ion-segment-button value="workshops">
     Workshops
      </ion-segment-button>
      <ion-segment-button value="tutorials">
        Tutorials
      </ion-segment-button>
      <ion-segment-button value="clubs">
       Clubs
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >



  <div [ngSwitch]="physical" >

    <div *ngSwitchCase="'resources'">

      <div *ngFor = "let resource of resources">

        <ion-card style="background: rgba(0,0,0,0.75);">

          <ion-card-content  >
            <ion-card-title style="color: white" >
              <b>{{resource.name}}</b>
            </ion-card-title>
            <p style="color: white">
              <a href="{{resource.web}}">{{resource.web}}</a>
            </p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small style="color: white" (click)="call(resource.phone)">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Call</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small style="color: white">
                <ion-icon name="text"></ion-icon>
                <div>Email</div>
              </button>
            </ion-col>
            <ion-col center text-center>

          <button ion-button icon-left clear small style="color: white" [navPush]="mapPage">
            <ion-icon name="clock"></ion-icon>
            <div>To do</div>
          </button>

            </ion-col>
          </ion-row>
        </ion-card>

      </div>

    </div>

  </div>


  <div [ngSwitch]="physical">
    <div *ngSwitchCase="'workshops'">
      <div *ngFor = "let workshop of workshops">
        <ion-card  style="...">
          <ion-card-content >
            <ion-card-title>
              Resource
            </ion-card-title>
            <p>Location </p>

          </ion-card-content>
          <ion-row>
            <ion-col>

              <button ion-button icon-left clear small (click)="call(workshop.phone)">

                <ion-icon name="thumbs-up"></ion-icon>

                <div>Call</div>

              </button>

            </ion-col>

            <ion-col>

              <button ion-button icon-left clear small>

                <ion-icon name="text"></ion-icon>

                <div>Email</div>

              </button>

            </ion-col>


            <ion-col center text-center>


                <button ion-button icon-left clear small (click)="presentToast()" > <!-- Add todo table on button click-->

                  <ion-icon name="clock"></ion-icon>

                  <div>To do</div>

                  </button>


              </ion-col>

           </ion-row>

          </ion-card>

        </div>

      </div>

    </div>

  <div [ngSwitch]="physical">

    <ion-card *ngSwitchCase="'tutorials'">
      <div style="max-width:640"><div style="position:relative;height:0;padding-bottom:56.25%">
        <iframe src="https://embed.ted.com/talks/brene_brown_on_vulnerability" width="640" height="360" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen>

        </iframe></div></div>
    </ion-card>
  </div>


  <div [ngSwitch]="physical"  >

    <div *ngSwitchCase="'clubs'">

      <div *ngFor = "let club of clubs">
        <ion-card style="background: rgba(0,0,0,0.75);">
          <ion-card-content>
            <ion-card-title style="color: white">
              <b>{{club.name}}</b>
            </ion-card-title>
            <p style="color: white">
              Contact: {{club.contact_name}}
            </p>
          </ion-card-content>
          <ion-row>
            <ion-col>
              <button ion-button icon-left clear small (click)="call(club.phone)" style="color: white">
                <ion-icon name="thumbs-up"></ion-icon>
                <div>Call</div>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button icon-left clear small style="color: white">
                <ion-icon name="text"></ion-icon>
                <div>Email</div>
              </button>
            </ion-col>
            <ion-col center text-center>

              <button ion-button icon-left clear small (click)="addTODO(club)"  style="color: white">
                <ion-icon name="clock"></ion-icon>
                <div>To do</div>
              </button>

            </ion-col>
          </ion-row>
        </ion-card>
      </div>

    </div>

  </div>


</ion-content>
<style>
  ion-scroll{
    height: 100%;
    width:100%;
  }

  ion-content {

    background: url('../../assets/img/physicalimage.jpg');



  }

  ion-card{
    background: rgba(0,0,0,0.75);
    color: white;
  }

  ion-card-title{
    color: white;
    font-weight: bold  }
  p{
    color: white;
  }


</style>
